@font-face {
  font-family: "Indie-Flower";
  src: url("fonts/Indie_Flower/IndieFlower-Regular.ttf");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  letter-spacing: 2px;
  background-color: #E0E7FB;
}

/*Header*/
h1 {
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  font-family: "Indie-Flower";
}

/*Sections and section content*/
#after-generate {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  max-width: 80%;
  border: 1px solid #1C4966;
  background-color: #45B6FE;
  padding: 2rem 0;
}

.content-container p {
  width: 80%;
  font-size: 1.5rem;
}

.adventure-font {
  font-family: "Indie-Flower";
  font-size: 2rem;
}

/*Generate Button*/
.generate {
  border: 1px solid #1C4966;
  border-radius: 5px;
  background-color: #33D2E8;
  font-size: 16px;
  padding: .25rem .5rem;
  box-shadow: 0 2px gray;
}

.generate:hover {
  cursor: pointer;
}

.generate:active {
  box-shadow: none;
  padding: .2rem .45rem;
}