@font-face {
  font-family: "Elvish-English";
  src: url("../fonts/elven-common-speak-font/Elvencommonspeak-0WXz.ttf");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  letter-spacing: 2px;;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  font-family: "Elvish-English";
}

.character-container {
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  height: 40rem;
  border: 1px solid blue;
  background-color: aqua;
  padding: 2rem 0;
}

.content-container p {
  width: 80%;
  font-size: 1.5rem;
}

.content-container p span {
  font-family: "Elvish-English";
  font-size: 3rem;
}

#generate {
  border: 1px solid darkgreen;
  border-radius: 5px;
  background-color: green;
  font-size: 16px;
  padding: .25rem .5rem;
  box-shadow: 0 2px gray;
}

#generate:hover {
  cursor: pointer;
}

#generate:active {
  box-shadow: none;
  padding: .2rem .45rem;
}